.a {
  display: flex;
  align-items: center;
  height: auto;
  margin: 100px 0;
}

.a_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a_right {
  flex: 1;
  margin: 0 5%;
}

.a_card_bg {
  top: 50px;
  left: 140px;
  background-color: #427940;
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: absolute;
}

.a_card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a_title {
  font-weight: 400;
}

.a_sub {
  margin: 20px 0px;
}

.a_desc {
  font-weight: 300;
}

.a_award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.a_award_texts {
  width: 100%;
}

.a_award_title {
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    height: auto;
  }

  .a_left {
    width: 100%;
  }

  .a_right {
    margin: 0px 12px;
  }

  .a_card {
    height: 40vh;
    width: 80%;
  }

  .a_desc {
    display: none;
  }

  .a_award {
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }

  .a_card_bg {
    display: none;
  }

  .a_right {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    height: auto;
  }

  .a_left {
    width: 100%;
  }

  .a_right {
    margin: 0px 12px;
  }

  .a_card {
    height: 30vh;
    width: 80%;
  }

  .a_desc {
    display: none;
  }

  .a_award {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
  }

  .a_card_bg {
    display: none;
  }

  .a_right {
    padding: 20px;
  }
}
