.p {
  width: 30%;
  max-height: 33vh;
  margin: 20px 10px;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p_browser {
  height: 40px;
  background-color: #427940;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
  padding-left: 2%;
}

.p_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  background-color: rgb(238, 232, 225);
}

.sticky_paragraph {
  position: sticky;
  bottom: 0;
  background-color: #427940;
  padding: 4px;
  z-index: 2;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.p_desc {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  text-align: center;
  justify-content: flex-start;
}

.p_image {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p_image {
  transform: translateY(-100%);
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .p {
    width: 25%;
    max-height: 25vh;
  }

  .p_desc {
    display: none;
  }

  .p_circle {
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .p {
    width: 40%;
    height: 25vh;
  }

  .p_circle {
    width: 10px;
    height: 10px;
  }

  .p_browser {
    height: 30px;
  }

  .p_desc {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }

  .p_circle {
    width: 8px;
    height: 8px;
  }

  .p_browser {
    height: 20px;
  }

  .p_desc {
    display: none;
  }
}
